html{
    background: linear-gradient(135deg, #ff5858 0%, #f09819 100%);
}
#div1{
    background-color: #f0681976;
    height: 500px;
    width: 400px;
    margin: 50px auto;
    padding-top: 70px;
    border-radius: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);;
}
h1{
    font-size: 3em;
    text-align: center;
}

#div3{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.int{
    padding: 10px;
    text-align: center;
    margin-bottom: 0px;
    border: none;
    width: 100px;
    margin: 20px auto;
    border-radius: 5px;
}
#in1{
    margin-right: 5px ;
}
#in2{
    margin-left: 5px ;
}
#div2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    flex-basis: 100px;
    height: 100px;
    margin-top: 80px;
    flex-wrap: nowrap;
}

.btn{
    margin-top: 100px;
    border-radius: 16px;
    padding: 8px;
    width: 100px;
    font-size: large;
    border: none;
    display: block;
    margin: 20px auto;
}
#btn1:hover{
    background-color: wheat;
}
.sec{
    margin: 10px;
    border-radius: 50%;
    height: 75px;
    width: 80px;
}
.sec:hover{
    background-color: wheat;
}
.invi{
    display: none;
}
@media (max-width: 480px) {
    #div1 {
        padding-top: 30px;
        width: auto;     
        height: auto;    
        display: block;
        padding-bottom: 70px;
    }

}